<%- model_class = FacebookSocial -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div id="container">
  <div id="user_nav>">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %> locally</strong>.<br /><br />
              
      <% if current_user.identities %>
        <p><%=current_user.email %> is linked to the following accounts</p>
        <% current_user.identities.each do |identity| %>
          <ul><br />
           <blockquote><strong>provider:</strong>  <%= identity.provider %></li><br />
           <strong>user:</strong>  <%= identity.name %></li>
          </blockquote>
          </ul>
        <% end %>
                        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>  
      <% else %>
              <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>   
      <% end %>
      
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %> | 
      <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>                               
    <% end %>
  </div>
</div>

<%= @facebook.inspect %>

