<%- model_class = AppdotnetSocial -%>
<div class="page-header">
  <h1><%=t '.title', :default => "App.net" %></h1>
</div>

<div id="container">
  <div id="user_nav>">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %> locally</strong>.<br /><br />
              
      <% if current_user.identities %>
          <p><%=current_user.email %> has oauth identities for the following providers</p>
        <% current_user.identities.each do |identity| %>
          <ul><br />
           <blockquote><strong>provider:</strong>  <%= identity.provider %></li><br />
           <strong>user:</strong>  <%= identity.name %></li>
          </blockquote>
          </ul>
        <% end %>
              <%= link_to "Sign in with App.net", user_omniauth_authorize_path(:appdotnet) %>  
      <% else %>
              <%= link_to "Sign in with App.net", user_omniauth_authorize_path(:appdotnet) %>   
      <% end %>
      
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %> | 
      <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>                               
    <% end %>
  </div>
</div>

<div id="globalfeeds" data-globalfeeds="<%= render(template: "appdotnet_socials/index.json.rabl")%>">


<%- model_class = Landing -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Your details" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:uid) %></th>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= model_class.human_attribute_name(:provider) %></th>      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @appdotnet_socials.each do |social| %>
      <tr>
        <td><%= link_to social.uid, landing_path(social) %></td>
        <td><%= social.username %></td>
        <td><%= social.identity.provider %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_appdotnet_social_path(social), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      appdotnet_social_path(social),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
