<%- model_class = TwitterSocial -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


  <div id="container">
    <div id="user_nav>">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %> locally</strong>.<br /><br />
                
        <% if current_user.identities %>
          <p><%=current_user.email %> is linked to the following accounts</p>
          <% current_user.identities.each do |identity| %>
            <ul><br />
              <li><%= identity.provider %></li>
            </ul>
          <% end %>
                          <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>  
        <% else %>
                <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>   
        <% end %>
        
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %> | 
        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>                               
      <% end %>
    </div>
  </div>
  
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:followers_count) %></th>
    </tr>
  </thead>
  <tbody>
    <% @twitter_socials.each do |twitter_social| %>
      <tr>
        <td><%= link_to twitter_social.id, twitter_social_path(twitter_social) %></td>
        <td><%= twitter_social.followers_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_twitter_social_path,
            :class => 'btn btn-primary' %>
