<h1>Listing identities</h1>

<table>
  <tr>
    <th>Provider</th>
    <th>Uid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @identities.each do |identity| %>
  <tr>
    <td><%= identity.provider %></td>
    <td><%= identity.uid %></td>
    <td><%= link_to 'Show', identity %></td>
    <td><%= link_to 'Edit', edit_identity_path(identity) %></td>
    <td><%= link_to 'Destroy', identity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Identity', new_identity_path %>
